<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Recibir</servlet-name>
        <servlet-class>Controlador.Recibir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar</servlet-name>
        <servlet-class>Controlador.Mostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borrar</servlet-name>
        <servlet-class>Controlador.Borrar</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>VerdatosUsuario</servlet-name>
        <servlet-class>Controlador.VerdatosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificar</servlet-name>
        <servlet-class>Controlador.Modificar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Recibir</servlet-name>
        <url-pattern>/recibir.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar</servlet-name>
        <url-pattern>/mostrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borrar</servlet-name>
        <url-pattern>/borrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerdatosUsuario</servlet-name>
        <url-pattern>/verdatosUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificar</servlet-name>
        <url-pattern>/modificar.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
